---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: vikunja-secret
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: vikunja-secret
    creationPolicy: Owner
    template:
      data:
        # Database Configuration
        VIKUNJA_DATABASE_TYPE: postgres
        VIKUNJA_DATABASE_HOST: postgres16-rw.database.svc.cluster.local
        VIKUNJA_DATABASE_DATABASE: &dbName vikunja
        VIKUNJA_DATABASE_USER: &dbUser "{{ .VIKUNJA_POSTGRES_USER }}"
        VIKUNJA_DATABASE_PASSWORD: &dbPass "{{ .VIKUNJA_POSTGRES_PASS }}"
        VIKUNJA_DATABASE_SSLMODE: disable

        # Init Container Variables
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: postgres16-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .CNPG_SUPER_PASS }}"


        # JWT Secret
        VIKUNJA_SERVICE_JWTSECRET: "{{ .VIKUNJA_JWT_SECRET }}"

        # SMTP Configuration
        VIKUNJA_MAILER_ENABLED: "true"
        VIKUNJA_MAILER_HOST: "{{ .SMTP_HOST }}"
        VIKUNJA_MAILER_PORT: "{{ .SMTP_PORT }}"
        VIKUNJA_MAILER_USERNAME: "{{ .SMTP_USER }}"
        VIKUNJA_MAILER_PASSWORD: "{{ .SMTP_PASS }}"
        VIKUNJA_MAILER_FROMEMAIL: "{{ .SMTP_FROM }}"

        # OIDC Configuration
        VIKUNJA_AUTH_OPENID_ENABLED: "true"
        VIKUNJA_AUTH_OPENID_REDIRECTURL: https://tasks.${SECRET_DOMAIN}/auth/openid/authelia
        VIKUNJA_AUTH_OPENID_PROVIDERS_0_NAME: Authelia
        VIKUNJA_AUTH_OPENID_PROVIDERS_0_AUTHURL: https://auth.${SECRET_DOMAIN}/api/oidc/authorization
        VIKUNJA_AUTH_OPENID_PROVIDERS_0_LOGOUTURL: https://auth.${SECRET_DOMAIN}/logout
        VIKUNJA_AUTH_OPENID_PROVIDERS_0_TOKENURL: https://auth.${SECRET_DOMAIN}/api/oidc/token
        VIKUNJA_AUTH_OPENID_PROVIDERS_0_USERINFOURL: https://auth.${SECRET_DOMAIN}/api/oidc/userinfo
        VIKUNJA_AUTH_OPENID_PROVIDERS_0_CLIENTID: "{{ .VIKUNJA_OIDC_CLIENT_ID }}"
        VIKUNJA_AUTH_OPENID_PROVIDERS_0_CLIENTSECRET: "{{ .VIKUNJA_OIDC_CLIENT_SECRET }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
      rewrite:
        - regexp:
            source: "(.*)"
            target: "CNPG_$1"

    - extract:
        key: vikunja
      rewrite:
        - regexp:
            source: "(.*)"
            target: "VIKUNJA_$1"

    - extract:
        key: smtp
      rewrite:
        - regexp:
            source: "(.*)"
            target: "SMTP_$1"
