---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-system
components:
  - ../../components/common
resources:
  - ./cilium/ks.yaml
  - ./coredns/ks.yaml
  - ./generic-device-plugin/ks.yaml
  - ./metrics-server/ks.yaml
  - ./nvidia-dra-driver/ks.yaml  # Disabled: Does not work on Talos yet (see helmrelease.yaml for details)
  - ./nvidia-plugin/ks.yaml
  - ./reloader/ks.yaml
