---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app flaresolverr
  namespace: flux-system
spec:
  targetNamespace: media
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  wait: false
  path: ./kubernetes/apps/media/flaresolverr/app
  prune: false # Revert to true
  sourceRef:
    kind: GitRepository
    name: flux-system
  interval: 30m
  timeout: 5m
