---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app valheim
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    controllers:
      valheim:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/mbround18/valheim
              tag: 3.5.0@sha256:68cf418f39b0174e421ca0f063be38a11f1a4aadb48f3b15e9cc7c7be39111a6
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            env:
              TZ: ${TIMEZONE}
              PORT: 2456
              AUTO_UPDATE: 1
              AUTO_UPDATE_SCHEDULE: 0 4 * * *
              AUTO_UPDATE_PAUSE_WITH_PLAYERS: 1
              ENABLE_CROSSPLAY: 1
              PUBLIC: 1
              TYPE: BepInEx
            envFrom:
              - secretRef:
                  name: valheim-secret
            resources:
              requests:
                cpu: 10m
                memory: 10M
              limits:
                memory: 10Gi

    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          lbipam.cilium.io/ips: "${VALHEIM_IP}"
        ports:
          http:
            port: 80
          gameplay:
            enabled: true
            port: 2456
            protocol: UDP
          auth:
            enabled: true
            port: 2457
            protocol: UDP
          voip:
            enabled: true
            port: 2458
            protocol: UDP

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /home/steam/.config/unity3d/IronGate/Valheim/
          - path: /home/steam/valheim/
