---
# yaml-language-server: $schema=https://kochhaus-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: nextcloud
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: nextcloud-secret
    template:
      data:
        NEXTCLOUD_USERNAME: "{{ .NEXTCLOUD_USER }}"
        NEXTCLOUD_PASSWORD: "{{ .NEXTCLOUD_PASS }}"

        SMTP_USERNAME: "{{ .SMTP_USER }}"
        SMTP_PASSWORD: "{{ .SMTP_PASS }}"
        SMTP_HOST: smtp.gmail.com

        INIT_POSTGRES_DBNAME: nextcloud
        INIT_POSTGRES_HOST: postgres16-rw.database.svc.cluster.local
        INIT_POSTGRES_USER: "{{ .NEXTCLOUD_POSTGRES_USER }}"
        INIT_POSTGRES_PASS: "{{ .NEXTCLOUD_POSTGRES_PASS }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .CNPG_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: nextcloud
      rewrite:
        - regexp:
            source: "(.*)"
            target: "NEXTCLOUD_$1"

    - extract:
        key: cloudnative-pg
      rewrite:
        - regexp:
            source: "(.*)"
            target: "CNPG_$1"

    - extract:
        key: smtp
      rewrite:
        - regexp:
            source: "(.*)"
            target: "SMTP_$1"
