---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mcxboxbroadcast
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
  maxHistory: 3
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3

  values:
    defaultPodOptions:
      automountServiceAccountToken: false
      enableServiceLinks: false
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch

    controllers:
      mcxboxbroadcast:
        annotations:
          reloader.stakater.com/auto: "true"

        containers:
          app:
            image:
              repository: ghcr.io/mcxboxbroadcast/standalone
              tag: latest@sha256:023e41048eae5a012ef91333c9fd7e97c87d24fdd15269f90845bc17f394ac35
            env:
              TZ: ${TIMEZONE}
            resources:
              limits:
                cpu: 500m
                memory: 1Gi
              requests:
                cpu: 10m
                memory: 128Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    persistence:
      config:
        existingClaim: mcxboxbroadcast-config
        globalMounts:
          - path: /opt/app/config

      config-file:
        type: configMap
        name: mcxboxbroadcast-configmap
        globalMounts:
          - path: /opt/app/config/config.yml
            subPath: config.yml
            readOnly: false

      tmp:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /tmp
