---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app recyclarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: sonarr
      namespace: media
    - name: radarr
      namespace: media
    - name: openebs
      namespace: openebs-system

  values:
    controllers:
      recyclarr:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"
        cronjob:
          timeZone: &timeZone ${TIMEZONE}
          schedule: "@daily"
          successfulJobsHistory: 1
          failedJobsHistory: 1
        containers:
          app:
            image:
              repository: ghcr.io/recyclarr/recyclarr
              tag: 7.5.2@sha256:2550848d43a453f2c6adf3582f2198ac719f76670691d76de0819053103ef2fb
            env:
              COMPlus_EnableDiagnostics: "0"
              TZ: *timeZone
            envFrom:
              - secretRef:
                  name: recyclarr-secret
            args: ["sync"]
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 64Mi
              limits:
                memory: 128Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch

    persistence:
      config:
        existingClaim: *app

      config-files:
        type: configMap
        name: recyclarr-configmap
        globalMounts:
          - path: /config/recyclarr.yaml
            subPath: recyclarr.yaml
            readOnly: true
          - path: /config/settings.yaml
            subPath: settings.yaml
            readOnly: true
          - path: /config/includes/Radarr_Anime_Quality_Profiles.yaml
            subPath: Radarr_Anime_Quality_Profiles.yaml
            readOnly: true
          - path: /config/includes/Radarr_Anime_Custom_Formats.yaml
            subPath: Radarr_Anime_Custom_Formats.yaml
            readOnly: true
          - path: /config/includes/Radarr_Standard_Quality_Profiles.yaml
            subPath: Radarr_Standard_Quality_Profiles.yaml
            readOnly: true
          - path: /config/includes/Radarr_Standard_Custom_Formats.yaml
            subPath: Radarr_Standard_Custom_Formats.yaml
            readOnly: true
          - path: /config/includes/Sonarr_Anime_Quality_Profiles.yaml
            subPath: Sonarr_Anime_Quality_Profiles.yaml
            readOnly: true
          - path: /config/includes/Sonarr_Anime_Custom_Formats.yaml
            subPath: Sonarr_Anime_Custom_Formats.yaml
            readOnly: true
          - path: /config/includes/Sonarr_Standard_Quality_Profiles.yaml
            subPath: Sonarr_Standard_Quality_Profiles.yaml
            readOnly: true
          - path: /config/includes/Sonarr_Standard_Custom_Formats.yaml
            subPath: Sonarr_Standard_Custom_Formats.yaml
            readOnly: true
          - path: /config/custom-formats/radarr/radarr-language-not-original-or-english.json
            subPath: radarr-language-not-original-or-english.json
            readOnly: true
          - path: /config/custom-formats/radarr/radarr-custom-release-title-dubbed.json
            subPath: radarr-custom-release-title-dubbed.json
            readOnly: true
          - path: /config/custom-formats/sonarr/sonarr-language-not-original-or-english.json
            subPath: sonarr-language-not-original-or-english.json
            readOnly: true
          - path: /config/custom-formats/sonarr/sonarr-custom-release-title-dubbed.json
            subPath: sonarr-custom-release-title-dubbed.json
            readOnly: true
