---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
  - ./pvc.yaml
configMapGenerator:
  - name: recyclarr-configmap
    files:
      - ./config/recyclarr.yaml
      - ./config/settings.yaml
      - ./includes/Radarr_Anime_Quality_Profiles.yaml
      - ./includes/Radarr_Anime_Custom_Formats.yaml
      - ./includes/Radarr_Standard_Quality_Profiles.yaml
      - ./includes/Radarr_Standard_Custom_Formats.yaml
      - ./includes/Sonarr_Anime_Quality_Profiles.yaml
      - ./includes/Sonarr_Anime_Custom_Formats.yaml
      - ./includes/Sonarr_Standard_Quality_Profiles.yaml
      - ./includes/Sonarr_Standard_Custom_Formats.yaml
      - ./custom-formats/radarr/radarr-custom-release-title-dubbed.json
      - ./custom-formats/radarr/radarr-language-not-original-or-english.json
      - ./custom-formats/sonarr/sonarr-custom-release-title-dubbed.json
      - ./custom-formats/sonarr/sonarr-language-not-original-or-english.json
generatorOptions:
  disableNameSuffixHash: true
