---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stirling-pdf
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    controllers:
      stirling-pdf:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/stirling-tools/s-pdf
              tag: 2.1.3@sha256:6ec3e0d5d92977c58c40ce5ab78a6237b1e9a86e80b28792b4ff76db1d3fdf90
            env:
              TZ: ${TIMEZONE}
              DOCKER_ENABLE_SECURITY: false
              LANGS: en_US
              METRICS_ENABLED: false
              SYSTEM_CUSTOMPATHS_OPERATIONS_WEASYPRINT: "/opt/venv/bin/weasyprint"
              SYSTEM_CUSTOMPATHS_OPERATIONS_UNOCONVERT: "/opt/venv/bin/unoconvert"
              SYSTEM_DEFAULTLOCALE: en-US
              SYSTEM_ENABLEANALYTICS: false
              SECURITY_ENABLE_LOGIN: false
              SYSTEM_GOOGLEVISIBILITY: false
              SYSTEM_SHOW_UPDATE: false
            resources:
              requests:
                cpu: 10m
                memory: 256Mi
              limits:
                memory: 8Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: 8080

    ingress:
      app:
        className: external
        hosts:
          - host: "pdf.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      temporary:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /configs
            subPath: configs
          - path: /customFiles
            subPath: customFiles
          - path: /logs
            subPath: logs
          - path: /pipeline
            subPath: pipeline
          - path: /tmp
            subPath: tmp
          - path: /usr/share/tessdata
            subPath: tessdata
