# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app docmost
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template

  values:
    controllers:
      docmost:
        annotations:
          reloader.stakater.com/auto: "true"

        initContainers:
          init-db:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 18

        containers:
          app:
            image:
              repository: ghcr.io/ahinko/docmost
              tag: 0.23.2@sha256:1e2bb434e571bed16084b4530faf255873914f0d1bef43482134ed8442425e61

            env:
              # General
              TZ: ${TIMEZONE}
              APP_URL: https://notes.${SECRET_DOMAIN}
              FILE_UPLOAD_SIZE_LIMIT: 200mb
              # Redis
              REDIS_URL: "redis://dragonfly.database.svc.cluster.local:6379/3"
              #Email
              MAIL_DRIVER: smtp
              SMTP_HOST: smtp.migadu.com
              SMTP_PORT: 465
              SMTP_SECURE: true
              MAIL_FROM_ADDRESS: support@${SECRET_DOMAIN}
              MAIL_FROM_NAME: BGM-Docs

            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 4096Mi

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

        defaultContainerOptions:
          envFrom:
            - secretRef:
                name: docmost-secret

    service:
      app:
        controller: *app
        ports:
          http:
            port: 3000

    ingress:
      app:
        className: external
        annotations:
          nginx.ingress.kubernetes.io/auth-method: GET
          nginx.ingress.kubernetes.io/configuration-snippet: |-
            proxy_set_header Accept-Encoding "";
            sub_filter
            '</head>'
            '<link rel="stylesheet" type="text/css" href="https://theme-park.${SECRET_DOMAIN}/css/base/docmost/overseerr.css">
            </head>';
            sub_filter_once on;

        hosts:
          - host: notes.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /app/data/storage
