---
# yaml-language-server: =https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komga
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: openebs
      namespace: openebs-system
    - name: volsync
      namespace: volsync-system

  values:
    controllers:
      komga:
        containers:
          app:
            image:
              repository: gotson/komga
              tag: 1.23.5@sha256:85f0be8920742341217f2b2bdafef64da1f6062ae472dcf74426a9fa549c8a05
            env:
              TZ: "${TIMEZONE}"
              SERVER_PORT: &port 80
            resources:
              requests:
                memory: 10Mi
                cpu: 15m
              limits:
                memory: 5Gi

    service:
      app:
        controller: *app
        ports:
          http:
            port: *port

    ingress:
      app:
        className: external
        hosts:
          - host: "{{ .Release.Name }}.${SECRET_DOMAIN}"
            paths:
              - path: /
                service:
                  identifier: app
                  port: http

    persistence:
      config:
        existingClaim: *app

      manga:
        type: nfs
        server: ${TRUENAS_IP}
        path: /mnt/tank/media/library/books
        globalMounts:
          - path: /manga
