---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app new-plex-dubs
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn:
    - name: plex
      namespace: media

  values:
    controllers:
      new-plex-dubs:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/heavybullets8/new-plex-dubs
              tag: 1.0.2@sha256:59c1decfca6b88055e28c5b32e27c8c9e09a5d4563498fafba39b7a51fe2eefb
            env:
              TZ: ${TIMEZONE}
              PLEX_URL: http://plex.media.svc.cluster.local:32400
              PLEX_ANIME_SERIES: Anime Series
              PLEX_ANIME_MOVIES: Anime Movies
              PORT: &port 9432
            envFrom:
              - secretRef:
                  name: new-plex-dubs-secret
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
            resources:
              requests:
                cpu: 5m
                memory: 128Mi
              limits:
                memory: 5Gi

    service:
      app:
        controller: *app
        ports:
          tcp:
            port: *port
