---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex-image-cleanup
spec:
  chart:
    spec:
      chart: app-template
      version: 3.2.1
      interval: 30m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  interval: 30m

  values:
    controllers:
      plex-image-cleanup:
        type: cronjob
        annotations:
          reloader.stakater.com/auto: "true"

        cronjob:
          schedule: "0 3 * * 1"
          timeZone: &timeZone ${TIMEZONE}
          concurrencyPolicy: Forbid
          successfulJobsHistory: 1
          failedJobsHistory: 1

        containers:
          app:
            image:
              repository: docker.io/meisnate12/plex-image-cleanup
              tag: v1.0.2@sha256:257634cb149f104658079274139bd55d652962ecf331bfda01e71c10686f9e32
            env:
              TZ: *timeZone
              PLEX_URL: http://plex.media.svc.cluster.local:32400
              PLEX_TOKEN:
                valueFrom:
                  secretKeyRef:
                    name: plex-image-cleanup-secret
                    key: PLEX_TOKEN
              PLEX_PATH: /data/plex_config/Library/Application Support/Plex Media Server
              MODE: remove
              PHOTO_TRANSCODER: true
              EMPTY_TRASH: true
              CLEAN_BUNDLES: true
              OPTIMIZE_DB: true
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
            resources:
              requests:
                cpu: 25m
                memory: 128Mi
              limits:
                memory: 1Gi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568

    persistence:
      config:
        type: emptyDir
        advancedMounts:
          plex-image-cleanup:
            app:
              - path: /config

      plex-config:
        existingClaim: plex
        advancedMounts:
          plex-image-cleanup:
            app:
              - path: /data/plex_config/Library/Application Support/Plex Media Server

      plex-cache:
        existingClaim: plex-cache
        advancedMounts:
          plex-image-cleanup:
            app:
              - path: /data/plex_config/Library/Application Support/Plex Media Server/Cache
