version: v1alpha1
debug: false
persist: true
machine:
  type: controlplane
  token: op://talos/talos/MACHINE_TOKEN
  ca:
    crt: op://talos/talos/MACHINE_CA_CRT
    key: op://talos/talos/MACHINE_CA_KEY
  certSANs:
    - 192.168.200.16
    - 127.0.0.1
  kubelet:
    image: ghcr.io/siderolabs/kubelet:{{ ENV.KUBERNETES_VERSION }}
    extraConfig:
      maxPods: 150
      serializeImagePulls: false
    extraMounts:
      - destination: /var/openebs/local
        type: bind
        source: /var/openebs/local
        options:
          - bind
          - rshared
          - rw
    defaultRuntimeSeccompProfileEnabled: true
    nodeIP:
      validSubnets:
        - 192.168.200.0/23
    disableManifestsDirectory: true
  kernel:
    modules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_drm
      - name: nvidia_modeset
      - name: zfs
  network:
    hostname: heavy-control
    interfaces:
      # Outbound - enp130s0f0np0
      - deviceSelector:
          hardwareAddr: b8:3f:d2:48:88:2e
        # Max XDP MTU
        mtu: 3498
        dhcp: true
        vip:
          ip: 192.168.200.16
      # Direct Connect to TrueNAS - enp130s0f1np1
      - deviceSelector:
          hardwareAddr: b8:3f:d2:48:88:2f
        addresses:
          - 10.10.10.1/30
        # Jumbo Frames
        mtu: 9000
        dhcp: false
    disableSearchDomain: true
  install:
    diskSelector:
      model: INTEL SSDPE21D960GA
    image: factory.talos.dev/installer/340a91389f1974c9c27ab9df4b2311e2af99b14c3c7b37f588318f9cf973995a:{{ ENV.TALOS_VERSION }}
    wipe: true
    extraKernelArgs:
      - talos.platform=metal
      - apparmor=0
      - security=none
      - init_on_alloc=0
      - init_on_free=0
      - talos.auditd.disabled=1
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      permissions: 0o644
      content: |
        [plugins."io.containerd.cri.v1.images"]
        discard_unpacked_layers = false
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 420
      content: |
        [ NFSMount_Global_Options ]
        proto=rdma
        port=20049
  sysctls:
    fs.inotify.max_queued_events: "65536"
    fs.inotify.max_user_instances: "8192"
    fs.inotify.max_user_watches: "1048576"
    net.core.bpf_jit_harden: "1"
    net.core.default_qdisc: fq
    net.core.rmem_max: "67108864"
    net.core.wmem_max: "67108864"
    net.core.rmem_default: "67108864"
    net.core.wmem_default: "67108864"
    net.core.optmem_max: "67108864"
    net.core.netdev_max_backlog: "250000"
    net.ipv4.tcp_congestion_control: bbr
    net.ipv4.tcp_fastopen: 3
    net.ipv4.tcp_max_syn_backlog: "8192"
    net.ipv4.tcp_rmem: 4096 262144 67108864
    net.ipv4.tcp_wmem: 4096 262144 67108864
    net.ipv4.tcp_mtu_probing: "1"
    vm.nr_hugepages: "3072"
  sysfs:
    # ZFS ARC Max (89% of total RAM)
    module.zfs.parameters.zfs_arc_max: 179827979589
    # ZFS ARC Free (11% of total RAM)
    module.zfs.parameters.zfs_arc_sys_free: 22225824443
    # Scaling Govenor
    devices.system.cpu.cpu0.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu1.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu2.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu3.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu4.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu5.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu6.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu7.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu8.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu9.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu10.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu11.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu12.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu13.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu14.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu15.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu16.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu17.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu18.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu19.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu20.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu21.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu22.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu23.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu24.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu25.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu26.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu27.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu28.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu29.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu30.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu31.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu32.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu33.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu34.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu35.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu36.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu37.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu38.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu39.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu40.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu41.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu42.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu43.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu44.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu45.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu46.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu47.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu48.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu49.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu50.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu51.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu52.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu53.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu54.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu55.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu56.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu57.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu58.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu59.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu60.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu61.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu62.cpufreq.scaling_governor: performance
    devices.system.cpu.cpu63.cpufreq.scaling_governor: performance
  features:
    rbac: true
    stableHostname: true
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
        - os:admin
      allowedKubernetesNamespaces:
        - kube-system
        - actions-runner-system
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    kubePrism:
      enabled: true
      port: 7445
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
      resolveMemberNames: true
cluster:
  id: op://talos/talos/CLUSTER_ID
  secret: op://talos/talos/CLUSTER_SECRET
  controlPlane:
    endpoint: https://192.168.200.16:6443
  clusterName: main
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.69.0.0/16
    serviceSubnets:
      - 10.96.0.0/16
  token: op://talos/talos/CLUSTER_TOKEN
  secretboxEncryptionSecret: op://talos/talos/CLUSTER_SECRETBOXENCRYPTIONSECRET
  ca:
    crt: op://talos/talos/CLUSTER_CA_CRT
    key: op://talos/talos/CLUSTER_CA_KEY
  aggregatorCA:
    crt: op://talos/talos/CLUSTER_AGGREGATORCA_CRT
    key: op://talos/talos/CLUSTER_AGGREGATORCA_KEY
  serviceAccount:
    key: op://talos/talos/CLUSTER_SERVICEACCOUNT_KEY
  apiServer:
    image: registry.k8s.io/kube-apiserver:{{ ENV.KUBERNETES_VERSION }}
    certSANs:
      - 192.168.200.16
      - 127.0.0.1
    disablePodSecurityPolicy: true
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
  controllerManager:
    image: registry.k8s.io/kube-controller-manager:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
  proxy:
    disabled: true
  scheduler:
    image: registry.k8s.io/kube-scheduler:{{ ENV.KUBERNETES_VERSION }}
    extraArgs:
      bind-address: 0.0.0.0
  etcd:
    ca:
      crt: op://talos/talos/CLUSTER_ETCD_CA_CRT
      key: op://talos/talos/CLUSTER_ETCD_CA_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
    advertisedSubnets:
      - 192.168.200.0/23
  coreDNS:
    disabled: true
  allowSchedulingOnControlPlanes: true
